body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

 /*------------------- Header css strat--------------------------- */
nav{display: flex;border-bottom: 2px solid red;background: #24292F;}

.menu_logo a img{
    width: 60px;
    text-align: center;margin: auto;
    padding: 20px;}

img{width: 100%;}

.menu_logo{
    width: 30%;
    height: auto;
}

.nav_menu{
    width: 70%;
    float: right;
    padding-top: 15px;
}

.munu_list{
 text-align: center;
}

.munu_list li{
    list-style-type: none;
    float: left;
    padding:5px 20px;
}

.munu_list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
}
.munu_list li a:hover{
    color: red;
}
 /*------------------- Header css End--------------------------- */



 /*------------------- Herp css     Start--------------------------- */
.about_dev{
    padding: 20px 90px;
    display: flex;
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dev_highlite{
    color: tomato;
}
.dev_text{
    width: 40%;
}

.dev_bth a{
    text-decoration: none;
    padding:10px 20px;
    color: white;
    background-image:linear-gradient(45deg,lightSalmon,tomato);
    border-radius: 5px;
    text-transform: uppercase;
}

.dev_bth a:hover{
    background-image:linear-gradient(90deg,tomato,lightSalmon);

}

.dev_photo{
    width: 40%;
    margin: auto;
}
.dev_photo img{
    width: 100%;
}
/*------------------- Hero css End--------------------------- */



/*------------------- Service css Start--------------------------- */
.service_dev{
    padding: 20px 90px;
    display: flex;
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
   
}

.service_text{
    width: 40%;
    
    background-repeat: no-repeat;
    float: right;
}
/*------------------- Service css End--------------------------- */


/*------------------- Service css End-------------
.ex_all_box{
   ;
}-------------- */
.ex_all_box{
    display: flex;
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left

}

.ex_box1{
    width: 40%;
    margin: 20px 50px;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
   border-left: 4px solid red;
   background-color: white;
    

}

.ex_box1_tagline{
    color: tomato;
    font-weight: 500;
}

.ex_box2{
    width: 40%;
    margin: 20px 50px;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
   border-left: 4px solid rgb(0, 140, 255);
}

footer p{
    text-align: center;
}
footer a{
    text-decoration: none;
    color:tomato;
    font-weight: 500;
}



